body{
    background-color: rgb(135, 92, 146);
    color: rgb(37, 129, 172);
    font-family: Georgia, 'Times New Roman', Times, serif; 
}

h1{
    color: rgb(37, 129, 172);
}

p{
    font-size: xx-large;
}